@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#wrap section > h2 {
  text-align: center;
  padding: 105px 30px;
  font-size: 50px;
}
#wrap > header {
  position: relative;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid rgb(180, 180, 180);
}
#wrap > header.fiexd {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
#wrap > header > .header_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#wrap > header > .header_container > .logo > a {
  display: block;
}
#wrap > header > .header_container > nav > .gnb {
  display: flex;
  justify-content: space-around;
}
#wrap > header > .header_container > nav > .gnb > li {
  border-right: 1px solid rgb(180, 180, 180);
}
#wrap > header > .header_container > nav > .gnb > li :hover,
#wrap > header > .header_container > nav > .gnb > li .on {
  color: #209ea7;
}
#wrap > header > .header_container > nav > .gnb > li > a {
  display: block;
  padding: 0 35px;
}
#wrap > header > .header_container > nav > .gnb > li:last-child {
  border: none;
}
#wrap #Home {
  overflow: hidden;
  position: relative;
  min-width: 100%;
  height: 100vh;
  background: fixed;
  background-image: url(./../images/man-7750139.png);
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
}
#wrap #Home .shooting_star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgb(255, 255, 255);
  animation: animate 3s linear infinite;
}
#wrap #Home > .shooting_star:nth-child(1) {
  top: 0;
  right: 200px;
  animation-delay: 0;
  animation-duration: 2.25s;
}
#wrap #Home > .shooting_star:nth-child(2) {
  top: 0;
  left: initial;
  right: 80px;
  animation-delay: 0.2s;
  animation-duration: 1.75s;
}
#wrap #Home > .shooting_star:nth-child(3) {
  top: 0;
  left: initial;
  right: 80px;
  animation-delay: 0.4s;
  animation-duration: 1.25s;
}
#wrap #Home > .shooting_star:nth-child(4) {
  top: 0;
  left: initial;
  right: 180px;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
#wrap #Home > .shooting_star:nth-child(5) {
  top: 0;
  left: initial;
  right: 400px;
  animation-delay: 0.8s;
  animation-duration: 1.5s;
}
#wrap #Home > .shooting_star:nth-child(6) {
  top: 0;
  left: initial;
  right: 900px;
  animation-delay: 1s;
  animation-duration: 2.5s;
}
#wrap #Home > .shooting_star:nth-child(7) {
  top: 0px;
  left: initial;
  right: 100px;
  animation-delay: 1.2s;
  animation-duration: 1.25s;
}
#wrap #Home > .shooting_star:nth-child(8) {
  top: 0px;
  left: initial;
  right: 800px;
  animation-delay: 1.4s;
  animation-duration: 3s;
}
#wrap #Home > .shooting_star:nth-child(9) {
  top: 0px;
  left: initial;
  right: 700px;
  animation-delay: 0.75s;
  animation-duration: 1.25s;
}
#wrap #Home .shooting_star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(200px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
#wrap #Home > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  color: #fff;
  font-size: 35px;
  opacity: 0.7;
  animation: move 1.5s;
}
@keyframes move {
  from {
    left: 0;
    opacity: 0;
  }
  to {
    left: 50%;
    margin-left: -310px;
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    left: 50%;
    margin-left: -310px;
    opacity: 1;
  }
  to {
    left: 0;
    opacity: 0;
  }
}
#wrap #About {
  height: 100vh;
}
#wrap #About > #container {
  width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}
#wrap #About > #container > .detail {
  width: 500px;
  height: 500px;
}
#wrap #About > #container > .detail > h3 {
  font-size: 50px;
  line-height: 1.6;
  margin-top: 150px;
}
#wrap #About > #container > .detail > h3 > span {
  color: #ec9cb0;
  font-style: italic;
}
#wrap #About > #container > .frame {
  width: 500px;
}
#wrap #About > #container > .frame > .list > li {
  line-height: 1.4;
  height: 100px;
}
#wrap #About > #container > .frame > .list > li:nth-child(1) {
  margin-top: 40px;
}
#wrap #About > #container > .frame > .list > li:nth-child(3) {
  margin-top: 60px;
}
#wrap #About > #container > .frame > .list > li > h4 {
  color: #20d397;
  font-size: 20px;
  padding: 15px 0;
}
#wrap #About > #container > .frame > .list > li > p {
  font-size: 17px;
}
#wrap #hobby {
  height: 100vh;
  background-color: rgb(207, 207, 74);
}
#wrap #skill {
  height: 100vh;
  background-color: rgb(58, 122, 58);
}
#wrap #design {
  height: 100vh;
  background-color: rgb(192, 116, 116);
}
#wrap footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(223, 223, 223, 0.9058823529);
  height: 150px;
  background-color: #000;
}/*# sourceMappingURL=style.css.map */