@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: "Dovemayo_wild";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/Dovemayo_wild.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#wrap section > h2 {
  text-align: center;
  padding: 105px 30px;
  font-size: 50px;
}
#wrap > header {
  position: relative;
  width: 100%;
  height: 66px;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(180, 180, 180);
}
#wrap > header.fiexd {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
#wrap > header > .header_container {
  position: relative;
  width: 80%;
  height: 66px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#wrap > header > .header_container > .btn-gnb {
  display: none;
}
#wrap > header > .header_container > .logo {
  margin-top: 25px;
}
#wrap > header > .header_container > nav > .gnb {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
#wrap > header > .header_container > nav > .gnb > li {
  border-right: 1px solid rgb(180, 180, 180);
}
#wrap > header > .header_container > nav > .gnb > li :hover,
#wrap > header > .header_container > nav > .gnb > li .on {
  color: #209ea7;
}
#wrap > header > .header_container > nav > .gnb > li > a {
  display: block;
  padding: 0 35px;
}
#wrap > header > .header_container > nav > .gnb > li:last-child {
  border: none;
}
#wrap #Home {
  overflow: hidden;
  position: relative;
  min-width: 100%;
  height: 100vh;
  background: fixed;
  background-image: url(./../images/man-7750139.png);
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
}
#wrap #Home .shooting_star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgb(255, 255, 255);
  animation: animate 3s linear infinite;
}
#wrap #Home > .shooting_star:nth-child(1) {
  top: 0;
  right: 200px;
  animation-delay: 0;
  animation-duration: 2.25s;
}
#wrap #Home > .shooting_star:nth-child(2) {
  top: 0;
  left: initial;
  right: 80px;
  animation-delay: 0.2s;
  animation-duration: 1.75s;
}
#wrap #Home > .shooting_star:nth-child(3) {
  top: 0;
  left: initial;
  right: 80px;
  animation-delay: 0.4s;
  animation-duration: 1.25s;
}
#wrap #Home > .shooting_star:nth-child(4) {
  top: 0;
  left: initial;
  right: 180px;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
#wrap #Home > .shooting_star:nth-child(5) {
  top: 0;
  left: initial;
  right: 400px;
  animation-delay: 0.8s;
  animation-duration: 1.5s;
}
#wrap #Home > .shooting_star:nth-child(6) {
  top: 0;
  left: initial;
  right: 900px;
  animation-delay: 1s;
  animation-duration: 2.5s;
}
#wrap #Home > .shooting_star:nth-child(7) {
  top: 0px;
  left: initial;
  right: 100px;
  animation-delay: 1.2s;
  animation-duration: 1.25s;
}
#wrap #Home > .shooting_star:nth-child(8) {
  top: 0px;
  left: initial;
  right: 800px;
  animation-delay: 1.4s;
  animation-duration: 3s;
}
#wrap #Home > .shooting_star:nth-child(9) {
  top: 0px;
  left: initial;
  right: 700px;
  animation-delay: 0.75s;
  animation-duration: 1.25s;
}
#wrap #Home .shooting_star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(200px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
#wrap #Home > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  color: #fff;
  font-size: 35px;
  opacity: 0.7;
  animation: move 1.5s;
}
@keyframes move {
  from {
    left: 0;
    opacity: 0;
  }
  to {
    left: 50%;
    margin-left: -310px;
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    left: 50%;
    margin-left: -310px;
    opacity: 1;
  }
  to {
    left: 0;
    opacity: 0;
  }
}
#wrap #About {
  height: 100vh;
}
#wrap #About > #container {
  width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}
#wrap #About > #container > .detail {
  width: 500px;
  height: 500px;
}
#wrap #About > #container > .detail > h3 {
  font-size: 50px;
  line-height: 1.6;
  margin-top: 150px;
}
#wrap #About > #container > .detail > h3 > span {
  color: #ec9cb0;
  font-style: italic;
}
#wrap #About > #container > .frame {
  width: 500px;
}
#wrap #About > #container > .frame > .list > li {
  line-height: 1.4;
  height: 100px;
}
#wrap #About > #container > .frame > .list > li:nth-child(1) {
  margin-top: 40px;
}
#wrap #About > #container > .frame > .list > li:nth-child(3) {
  margin-top: 60px;
}
#wrap #About > #container > .frame > .list > li > h4 {
  color: #20d397;
  font-size: 20px;
  padding: 15px 0;
}
#wrap #About > #container > .frame > .list > li > p {
  font-size: 17px;
}
#wrap #hobby {
  height: 100vh;
}
#wrap #hobby > .hobbyList {
  width: 1200px;
  margin: 0 auto;
}
#wrap #hobby > .hobbyList > li {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
}
#wrap #hobby > .hobbyList > li > .frame {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
#wrap #hobby > .hobbyList > li > .frame:hover > img {
  transform: scale(1.1);
}
#wrap #hobby > .hobbyList > li > .frame > img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 1s;
}
#wrap #hobby > .hobbyList > li > .explain {
  font-family: "Dovemayo_wild";
  margin-left: 15px;
}
#wrap #hobby > .hobbyList > li > .explain > h3 {
  font-size: 22px;
  margin: 20px 0;
}
#wrap #hobby > .hobbyList > li > .explain > p {
  line-height: 1.6;
  font-size: 17px;
}
#wrap #hobby > .hobbyList > li > .explain > p > span {
  color: #fa5050;
}
#wrap #skill {
  height: 100vh;
}
#wrap #skill > .skillContainer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
#wrap #skill > .skillContainer > .before {
  width: 50%;
}
#wrap #skill > .skillContainer > .before > h2 {
  font-family: "Dovemayo_wild";
  font-size: 26px;
  padding: 30px 0;
  text-align: center;
}
#wrap #skill > .skillContainer > .before > .skillList {
  position: relative;
}
#wrap #skill > .skillContainer > .before > .skillList > li {
  display: flex;
  height: 100px;
}
#wrap #skill > .skillContainer > .before > .skillList > li > span {
  margin-top: 25px;
  margin-left: 10px;
}
#wrap #skill > .skillContainer > .before > .skillList > li > .frame {
  width: 100px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  text-indent: -9999px;
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(1) > .frame {
  background-image: url(./../images/html.png);
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(2) > .frame {
  background-image: url(./../images/css.png);
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(3) > .frame {
  background-image: url(./../images/sass.png);
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(4) > .frame {
  background-image: url(./../images/JS.png);
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(5) > .frame {
  background-image: url(./../images/JQuery-Logo.svg.png);
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(6) > .frame {
  background-image: url(./../images/java.png);
}
@keyframes gauge1 {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
@keyframes gauge2 {
  from {
    width: 0;
  }
  to {
    width: 380px;
  }
}
@keyframes gauge3 {
  from {
    width: 0;
  }
  to {
    width: 380px;
  }
}
@keyframes gauge4 {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}
@keyframes gauge5 {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}
@keyframes gauge6 {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(1) > .gauge1 {
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
  height: 30px;
  text-indent: -9999px;
  background-color: red;
  border-radius: 0 10px 10px 0;
  background-color: #e44d26;
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(2) > .gauge2 {
  width: 380px;
  margin-top: 20px;
  margin-left: 20px;
  height: 30px;
  text-indent: -9999px;
  background-color: red;
  border-radius: 0 10px 10px 0;
  background-color: #264de4;
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(3) > .gauge3 {
  width: 380px;
  margin-top: 20px;
  margin-left: 20px;
  height: 30px;
  text-indent: -9999px;
  background-color: red;
  border-radius: 0 10px 10px 0;
  background-color: #cd6799;
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(4) > .gauge4 {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  height: 30px;
  text-indent: -9999px;
  background-color: red;
  border-radius: 0 10px 10px 0;
  background-color: #f7df1e;
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(5) > .gauge5 {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  height: 30px;
  text-indent: -9999px;
  background-color: red;
  border-radius: 0 10px 10px 0;
  background-color: #0868ac;
}
#wrap #skill > .skillContainer > .before > .skillList > li:nth-child(6) > .gauge6 {
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  height: 30px;
  text-indent: -9999px;
  background-color: red;
  border-radius: 0 10px 10px 0;
  background-color: #ec2025;
}
#wrap #skill > .skillContainer > .after {
  position: relative;
  width: 50%;
  text-align: center;
  border-left: 1px solid #ccc;
}
#wrap #skill > .skillContainer > .after > h2 {
  font-family: "Dovemayo_wild";
  font-size: 26px;
  padding: 30px 0;
  text-align: center;
}
#wrap #skill > .skillContainer > .after > ul > li {
  width: 150px;
  height: 120px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  margin-top: 40px;
}
#wrap #skill > .skillContainer > .after > ul > li:nth-child(1) {
  position: absolute;
  left: 120px;
  top: 100px;
  background-image: url(./../images/nodeJS.png);
}
#wrap #skill > .skillContainer > .after > ul > li:nth-child(2) {
  position: absolute;
  right: 100px;
  top: 100px;
  background-image: url(./../images/nextJs.png);
}
#wrap #skill > .skillContainer > .after > ul > li:nth-child(3) {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top: 250px;
  background-image: url(./../images/python.jpg);
}
#wrap #skill > .skillContainer > .after > ul > li:nth-child(4) {
  position: absolute;
  left: 120px;
  top: 400px;
  background-image: url(../images/sql.png);
}
#wrap #skill > .skillContainer > .after > ul > li:nth-child(5) {
  position: absolute;
  right: 100px;
  top: 400px;
  background-image: url(../images/c++.png);
}
#wrap #contact {
  height: 100vh;
}
#wrap #contact > p {
  padding-bottom: 40px;
  text-align: center;
  font-size: 30px;
  color: #757575;
}
#wrap #contact > .wrapper {
  display: flex;
  position: relative;
  width: 700px;
  height: 500px;
  margin: 0 auto;
  outline: 1px solid #ccc;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 3px 4px 6px 4px #acabab;
}
#wrap #contact > .wrapper > .container {
  width: 50%;
}
#wrap #contact > .wrapper > .container > h2 {
  font-size: 2rem;
  margin: 160px 0 30px;
  font-weight: 800;
  margin-left: 30px;
}
#wrap #contact > .wrapper > .container > ul > li {
  font-size: 1.2rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin-left: 30px;
}
#wrap #contact > .wrapper > .container > ul > li:nth-child(2) > :hover {
  color: #1748b4;
}
#wrap #contact > .wrapper > .container > ul > li:last-child {
  margin-top: 20px;
}
#wrap #contact > .wrapper > .profile {
  width: 50%;
  height: 500px;
}
#wrap #contact > .wrapper > .profile > .profileContainer {
  overflow: hidden;
  margin-top: 130px;
  margin-left: 60px;
  width: 250px;
  height: 250px;
  border: 1px solid #dedede;
  border-radius: 15px;
}
#wrap #contact > .wrapper > .profile > .profileContainer > .frame:hover > img {
  transform: scale(1.1);
  opacity: 0.9;
}
#wrap #contact > .wrapper > .profile > .profileContainer > .frame {
  width: 250px;
  height: 250px;
}
#wrap #contact > .wrapper > .profile > .profileContainer > .frame > img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #dedede;
  border-radius: 15px;
  transition: all 1s;
}
#wrap footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(223, 223, 223, 0.9058823529);
  height: 150px;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  #wrap {
    width: 100%;
  }
  #wrap > section > h2 {
    font-size: 45px;
  }
  #wrap header > .header_container {
    display: block;
    width: 100%;
    height: 40px;
  }
  #wrap header > .header_container > .logo {
    margin: 0;
    margin-left: 30px;
    line-height: 66px;
  }
  #wrap header > .header_container > nav {
    display: none;
    padding-top: 1px;
    width: 100%;
    background: #fff;
  }
  #wrap header > .header_container > nav > .gnb {
    display: block;
  }
  #wrap header > .header_container > nav > .gnb > li {
    width: 100%;
    line-height: 50px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #e9e6e6;
  }
  #wrap header > .header_container > nav > .gnb > li:last-child {
    border-bottom: 1px solid rgb(180, 180, 180);
  }
  #wrap header > .header_container > nav > .gnb > li > a {
    display: block;
    padding: 10px 0;
    font-size: 16px;
  }
  #wrap header > .header_container > nav > .gnb > li > a:hover {
    background-color: #ade7eb;
    color: #fff;
  }
  #wrap header > .header_container > .btn-gnb {
    background: none;
    border: none;
    outline: none;
    display: block;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-left: -9px;
    width: 24px;
    height: 18px;
    text-indent: -9999px;
    background-image: url(./../images/mnu_btn.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
  #wrap header > .header_container > .btn-gnb.clse {
    background-image: url(./../images/clse_btn.png);
  }
  @keyframes rotateBtn {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #wrap header > .header_container > .btn-gnb.clse:hover {
    animation: rotateBtn 0.5s;
  }
  #wrap #Home {
    width: 100%;
  }
  #wrap #Home > h1 {
    font-size: 26px;
    margin-left: -231px;
  }
  #wrap #About {
    width: 100%;
  }
  #wrap #About > #container {
    display: block;
    width: 100%;
    margin: 0;
  }
  #wrap #About > #container > .detail {
    width: 80%;
    margin: 0 auto;
    height: 150px;
    text-align: center;
  }
  #wrap #About > #container > .detail > h3 {
    margin-top: 0;
    padding: 20px 0;
    font-size: 40px;
  }
  #wrap #About > #container > .frame {
    width: 80%;
    margin: 30px auto;
    margin-top: 100px;
  }
  #wrap #About > #container > .frame > .list > li {
    margin-top: 0;
    text-align: center;
  }
  #wrap #About > #container > .frame > .list > li:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #wrap #About > #container > .frame > .list > li:nth-child(3) {
    margin-top: 100px;
  }
  #wrap #hobby {
    width: 100%;
  }
  #wrap #hobby > .hobbyList {
    width: 90%;
    margin: 0 auto;
  }
  #wrap #hobby > .hobbyList > li {
    width: 100%;
  }
  #wrap #hobby > .hobbyList > li > .frame {
    width: 150px;
    height: 150px;
  }
  #wrap #hobby > .hobbyList > li > .frame > img {
    width: 150px;
    height: 150px;
  }
  #wrap #hobby > .hobbyList > li > .explain {
    width: 70%;
  }
  #wrap #skill {
    width: 100%;
  }
  #wrap #skill > .skillContainer {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  #wrap #skill > .skillContainer > .before {
    width: 100%;
  }
  #wrap #skill > .skillContainer > .after {
    display: none;
  }
  #wrap #contact {
    width: 100%;
  }
  #wrap #contact > .wrapper {
    display: block;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  #wrap #contact > .container {
    width: 40%;
    margin: 0 auto;
  }
  #wrap #contact > .profile {
    display: none;
    width: 100%;
  }
  #wrap #contact > .profile > .profileContainer {
    display: none;
  }
  #wrap #contact > .profile > .profileContainer > .frame {
    width: 100%;
  }
  #wrap #contact > .profile > .profileContainer > .frame > img {
    width: 100%;
    position: absolute;
    left: -99999px;
  }
}/*# sourceMappingURL=style.css.map */