@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: "Dovemayo_wild";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/Dovemayo_wild.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}
html {
  scroll-behavior: smooth;
}

#wrap {
  //전체 h2
  section > h2 {
    text-align: center;
    padding: 105px 30px;
    font-size: 50px;
  }
  > header {
    position: relative;
    width: 100%;
    height: 66px;
    // min-width: 1200px;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(180, 180, 180);

    &.fiexd {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1000;
    }
    > .header_container {
      position: relative;
      width: 80%;
      height: 66px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      > .btn-gnb {
        display: none;
      } //end of .btn-gnb
      > .logo {
        // width: 50px;
        // height: 57px;
        margin-top: 25px;
        > a {
          // display: block;
          // height: 57px;
        }
      } //end of logo
      > nav {
        > .gnb {
          display: flex;
          justify-content: space-around;
          margin-top: 25px;
          > li {
            :hover,
            .on {
              color: #209ea7;
            }

            > a {
              display: block;
              padding: 0 35px;
            } //end of a
            border-right: 1px solid rgb(180, 180, 180);
          } //end of li
          > li:last-child {
            border: none;
          }
        } //end of .gnb
      } //end of nav
    }//end of .header_container
  } //end of header

  #Home {
    overflow: hidden;
    position: relative;
    min-width: 100%;
    height: 100vh;
    background: fixed;
    background-image: url(./../images/man-7750139.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: cover;

    .shooting_star {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
        0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
      animation: animate 3s linear infinite;
    }
    > .shooting_star:nth-child(1) {
      top: 0;
      right: 200px;
      animation-delay: 0;
      animation-duration: 2.25s;
    }
    > .shooting_star:nth-child(2) {
      top: 0;
      left: initial;
      right: 80px;
      animation-delay: 0.2s;
      animation-duration: 1.75s;
    }
    > .shooting_star:nth-child(3) {
      top: 0;
      left: initial;
      right: 80px;
      animation-delay: 0.4s;
      animation-duration: 1.25s;
    }
    > .shooting_star:nth-child(4) {
      top: 0;
      left: initial;
      right: 180px;
      animation-delay: 0.6s;
      animation-duration: 1.5s;
    }
    > .shooting_star:nth-child(5) {
      top: 0;
      left: initial;
      right: 400px;
      animation-delay: 0.8s;
      animation-duration: 1.5s;
    }
    > .shooting_star:nth-child(6) {
      top: 0;
      left: initial;
      right: 900px;
      animation-delay: 1s;
      animation-duration: 2.5s;
    }
    > .shooting_star:nth-child(7) {
      top: 0px;
      left: initial;
      right: 100px;
      animation-delay: 1.2s;
      animation-duration: 1.25s;
    }
    > .shooting_star:nth-child(8) {
      top: 0px;
      left: initial;
      right: 800px;
      animation-delay: 1.4s;
      animation-duration: 3s;
    }
    > .shooting_star:nth-child(9) {
      top: 0px;
      left: initial;
      right: 700px;
      animation-delay: 0.75s;
      animation-duration: 1.25s;
    }
    .shooting_star::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      width: 300px;
      height: 1px;
      background: linear-gradient(90deg, #fff, transparent);
    }
    @keyframes animate {
      0% {
        transform: rotate(315deg) translateX(200px);
        opacity: 1;
      }
      70% {
        opacity: 1;
      }
      100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
      }
    }
    > h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -310px;
      color: #fff;
      font-size: 35px;
      opacity: 0.7;
      animation: move 1.5s;
    }
    @keyframes move {
      from {
        left: 0;
        opacity: 0;
      }
      to {
        left: 50%;
        margin-left: -310px;
        opacity: 1;
      }
    }
    @keyframes disappear {
      from {
        left: 50%;
        margin-left: -310px;
        opacity: 1;
      }
      to {
        left: 0;
        opacity: 0;
      }
    }
  } //end of #home

  #About {
    height: 100vh;

    > #container {
      width: 1200px;
      margin: 40px auto;
      display: flex;
      justify-content: space-between;
      // border: 1px solid #000;
      > .detail {
        width: 500px;
        height: 500px;

        > h3 {
          font-size: 50px;
          line-height: 1.6;
          margin-top: 150px;
          // border: 1px solid #000;
          > span {
            color: #ec9cb0;
            font-style: italic;
          }
        }
      }
      > .frame {
        width: 500px;
        // border: 1px solid #000;
        > .list {
          > li {
            line-height: 1.4;
            height: 100px;
            &:nth-child(1) {
              margin-top: 40px;
            }
            &:nth-child(3) {
              margin-top: 60px;
            }
            > h4 {
              color: #20d397;
              font-size: 20px;
              padding: 15px 0;
            }
            > p {
              font-size: 17px;
            } //end of p
          } //end of li
        } //end of .list
      } //end of frame
    } //end of container
  } //end of #about
  #hobby {
    height: 100vh;
    // background-color: #f9f5e7;

    > .hobbyList {
      width: 1200px;
      margin: 0 auto;

      // border: 1px solid #000;

      > li {
        display: flex;
        border: 1px solid #ccc;
        border-radius: 15px;
        margin-top: 10px;

        > .frame {
          position: relative;
          overflow: hidden;
          width: 150px;
          height: 150px;
          border-radius: 15px;
          &:hover > img {
            transform: scale(1.1);
          }
          > img {
            display: block;
            width: 100%;
            height: 100%;
            transition: all 1s;
          } //end of img
        } //end of frame
        > .explain {
          font-family: "Dovemayo_wild";
          margin-left: 15px;
          > h3 {
            font-size: 22px;
            margin: 20px 0;
          } //end of h3
          > p {
            line-height: 1.6;
            font-size: 17px;
            > span {
              color: #fa5050;
            }
          }
        } //end of explain
      } //end of li
    } //end of hobbyList
  } //end of hobby
  #skill {
    height: 100vh;
    // background-color: #F8EAD8;
    > .skillContainer {
      display: flex;
      width: 1200px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 15px;
      > .before {
        width: 50%;
        > h2 {
          font-family: "Dovemayo_wild";
          font-size: 26px;
          padding: 30px 0;
          text-align: center;
        } //end of h2
        > .skillList {
          position: relative;
          > li {
            display: flex;
            height: 100px;
            // border: 1px solid #000;
            > span {
              margin-top: 25px;
              margin-left: 10px;
            }
            > .frame {
              width: 100px;
              height: 70px;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: contain;
              text-indent: -9999px;
            }
            &:nth-child(1) > .frame {
              background-image: url(./../images/html.png);
            }
            &:nth-child(2) > .frame {
              background-image: url(./../images/css.png);
            }
            &:nth-child(3) > .frame {
              background-image: url(./../images/sass.png);
            }
            &:nth-child(4) > .frame {
              background-image: url(./../images/JS.png);
            }
            &:nth-child(5) > .frame {
              background-image: url(./../images/JQuery-Logo.svg.png);
            }
            &:nth-child(6) > .frame {
              background-image: url(./../images/java.png);
            }
            // > .gauge {
            //   margin-top: 20px;
            //   margin-left: 20px;
            //   height: 30px;
            //   text-indent: -9999px;
            //   background-color: red;
            //   border-radius: 0 10px 10px 0;
            // } //end of gauge
            @keyframes gauge1 {
              from {
                width: 0;
              }
              to {
                width: 400px;
              }
            }
            @keyframes gauge2 {
              from {
                width: 0;
              }
              to {
                width: 380px;
              }
            }
            @keyframes gauge3 {
              from {
                width: 0;
              }
              to {
                width: 380px;
              }
            }
            @keyframes gauge4 {
              from {
                width: 0;
              }
              to {
                width: 300px;
              }
            }
            @keyframes gauge5 {
              from {
                width: 0;
              }
              to {
                width: 300px;
              }
            }
            @keyframes gauge6 {
              from {
                width: 0;
              }
              to {
                width: 200px;
              }
            }
            &:nth-child(1) > .gauge1 {
              width: 400px;
              margin-top: 20px;
              margin-left: 20px;
              height: 30px;
              text-indent: -9999px;
              background-color: red;
              border-radius: 0 10px 10px 0;
              background-color: #e44d26;
              // animation: gauge1 5s;
            }

            &:nth-child(2) > .gauge2 {
              width: 380px;
              margin-top: 20px;
              margin-left: 20px;
              height: 30px;
              text-indent: -9999px;
              background-color: red;
              border-radius: 0 10px 10px 0;
              background-color: #264de4;
              // animation: gauge2 5s;
            }
            &:nth-child(3) > .gauge3 {
              width: 380px;
              margin-top: 20px;
              margin-left: 20px;
              height: 30px;
              text-indent: -9999px;
              background-color: red;
              border-radius: 0 10px 10px 0;
              background-color: #cd6799;
              // animation: gauge3 5s;
            }
            &:nth-child(4) > .gauge4 {
              width: 300px;
              margin-top: 20px;
              margin-left: 20px;
              height: 30px;
              text-indent: -9999px;
              background-color: red;
              border-radius: 0 10px 10px 0;
              background-color: #f7df1e;
              // animation: gauge4 5s;
            }
            &:nth-child(5) > .gauge5 {
              width: 300px;
              margin-top: 20px;
              margin-left: 20px;
              height: 30px;
              text-indent: -9999px;
              background-color: red;
              border-radius: 0 10px 10px 0;
              background-color: #0868ac;
              // animation: gauge5 5s;
            }
            &:nth-child(6) > .gauge6 {
              width: 200px;
              margin-top: 20px;
              margin-left: 20px;
              height: 30px;
              text-indent: -9999px;
              background-color: red;
              border-radius: 0 10px 10px 0;
              background-color: #ec2025;
              // animation: gauge6 5s;
            }
          } //end of li
        } //end of skillList
      } //end of before
      > .after {
        position: relative;
        width: 50%;
        text-align: center;
        border-left: 1px solid #ccc;
        > h2 {
          font-family: "Dovemayo_wild";
          font-size: 26px;
          padding: 30px 0;
          text-align: center;
        }
        > ul {
          > li {
            width: 150px;
            height: 120px;
            text-indent: -9999px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            margin-top: 40px;

            &:nth-child(1) {
              position: absolute;
              left: 120px;
              top: 100px;
              background-image: url(./../images/nodeJS.png);
            }
            &:nth-child(2) {
              position: absolute;
              right: 100px;
              top: 100px;
              background-image: url(./../images/nextJs.png);
            }
            &:nth-child(3) {
              position: absolute;
              left: 50%;
              margin-left: -75px;
              top: 250px;
              background-image: url(./../images/python.jpg);
            }
            &:nth-child(4) {
              position: absolute;
              left: 120px;
              top: 400px;
              background-image: url(../images/sql.png);
            }
            &:nth-child(5) {
              position: absolute;
              right: 100px;
              top: 400px;
              background-image: url(../images/c++.png);
            }
          }
        } //end of ul
      } //end of after
    } //end of skillContainer
  }
  #contact {
    height: 100vh;
    // background-color: #EDDBC7;

    > p {
      padding-bottom: 40px;
      text-align: center;
      font-size: 30px;
      color: #757575;
    }
    > .wrapper {
      display: flex;
      position: relative;
      width: 700px;
      height: 500px;
      margin: 0 auto;
      outline: 1px solid #ccc;
      padding: 20px 30px;
      border-radius: 15px;
      box-shadow: 3px 4px 6px 4px #acabab;

      > .container {
        width: 50%;
        > h2 {
          font-size: 2rem;
          margin: 160px 0 30px;
          font-weight: 800;
          margin-left: 30px;
        } //end of h2
        > ul {
          > li {
            font-size: 1.2rem;
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 700;
            line-height: 1.5;
            margin-left: 30px;
            &:nth-child(2) > :hover {
              color: #1748b4;
            }
            &:last-child {
              margin-top: 20px;
            }
          } //end of li
        } //end of ul
      } //end of container
      > .profile {
        width: 50%;
        height: 500px;
        > .profileContainer {
          overflow: hidden;
          margin-top: 130px;
          margin-left: 60px;
          
          width: 250px;
          height: 250px;
          border: 1px solid #dedede;
          border-radius: 15px;
          // background-image: url(/images/뒷모습.jpg);
          // background-repeat: no-repeat;
          // background-size: cover;
          // background-position: 50% 50%;
          > .frame:hover > img {
            transform: scale(1.1);
            opacity: 0.9;
          }
          > .frame {
            width: 250px;
            height: 250px;
            > img {
              object-fit: cover;
              display: block;
              width: 100%;
              height: 100%;
              border: 1px solid #dedede;
              border-radius: 15px;
              transition: all 1s;
            } //end of img
          } //end of .frame
        } //end of .profile
      }
    } //end of .wrapper
  } //end of #contact

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dfdfdfe7;
    height: 150px;
    background-color: #000;
  } //end of footer
} //end of #wrap

@media screen and (max-width: 768px) {
  #wrap {
    width: 100%;
    //전체 h2 사이즈 조절
    >section>h2{
      font-size: 45px;
    }
     header {
      > .header_container {
        display: block;
        width: 100%;
        height: 40px;
        > .logo {
          // display: block;
          // width: 100%;
          margin: 0;
          margin-left: 30px;
          line-height: 66px;
        }
        > nav {
          display: none;
          padding-top: 1px;
          width: 100%;
          background: #fff;
          > .gnb {
            display: block;

            > li {
              width: 100%;
              line-height: 50px;
              text-align: center;
              border: none;

              &:last-child {
                border-bottom: 1px solid rgb(180, 180, 180);
              }
              border-bottom: 1px solid #e9e6e6;
              > a {
                display: block;
                padding: 10px 0;
                font-size: 16px;
                &:hover {
                  background-color: #ade7eb;
                  color: #fff;
                }
              }//end of a
            }//end of li
          }//end of .gnb
        }//end of nav
        > .btn-gnb {
          background: none;
          border: none;
          outline: none;
          display: block;
          position: absolute;
          right: 30px;
          top: 50%;
          margin-left: -9px;
          width: 24px;
          height: 18px;

          text-indent: -9999px;
          background-image: url(./../images/mnu_btn.png);
          background-position: center center;
          background-repeat: no-repeat;

          &.clse {
            background-image: url(./../images/clse_btn.png);

            @keyframes rotateBtn {
              0% {
                transform: rotate(0);
              }
              100% {
                transform: rotate(360deg);
              }
            }

            &:hover {
              animation: rotateBtn 0.5s;
            }
          }
        }
      }
    }//end of header
     #Home {
      width: 100%;
      > h1 {
        font-size: 26px;
        margin-left: -231px;
      }
    }//end of #home
     #About {
      width: 100%;
      > #container {
        display: block;
        width: 100%;
        margin: 0;
        > .detail {
          width: 80%;
          margin: 0 auto;
          height: 150px;
          text-align: center;
          > h3 {
            margin-top: 0;
            padding: 20px 0;
            font-size: 40px;
          }
        }

        > .frame {
          width: 80%;
          margin: 30px auto;
          margin-top: 100px;
          > .list {
            > li {
              margin-top: 0;
              text-align: center;
              &:nth-child(2) {
                margin-top: 30px;
                margin-bottom: 30px;
              }
              &:nth-child(3) {
                margin-top: 100px;
              }
            } //end of li
          } //end of .list
        } //end of .frame
      } //end of #container
    } //end of #About

    #hobby {
      width: 100%;
      > .hobbyList {
        width: 90%;
        margin: 0 auto;
        > li {
          width: 100%;

          > .frame {
            width: 150px;
            height: 150px;
            > img {
              width: 150px;
              height: 150px;
            }
          }
          > .explain {
            width: 70%;
          }
        }
      }
    } //end of #hobby

    #skill {
      width: 100%;
      > .skillContainer {
        display: block;
        width: 90%;
        margin: 0 auto;
        > .before {
          width: 100%;
        } //end of before
        > .after {
          display: none;
        } //end of .after
      } //end of .skillContainer
    } //end of skill

    #contact {
      width: 100%;
      > .wrapper {
        display: block;
        width: 400px;
        margin: 0 auto;
        overflow: hidden;
      }
      > .container {
        width: 40%;
        margin: 0 auto;
        // text-align: center;
      }

      > .profile {
        display: none;
        width: 100%;
        > .profileContainer {
          display: none;
          > .frame {
            width: 100%;
            > img {
              width: 100%;
              position: absolute;
              left: -99999px;
            }
          }
        }
      }
    }//end of #contact
  } //end of wrap
}
